h1 {
    color: dodgerblue;
}
ul {
    list-style:square ;
}
.site-content{
    width: 400px;
    margin: left;

}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
div {
    display: inline-block;
    width: 200px;
    margin: auto;
    
}